@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    font-family: "Roboto", sans-serif;
}

.space{
    gap: 40px;
    font-weight: 400;
}

.btn-secondary{
    background-color: lightgray;
    color: blue;
    font-weight: 300;
    border: none;
    &:hover{
        background-color: rgb(190, 236, 190);
        color:blue;
    }
}

.top{
    margin-top: 100px;
}

.card{
    border: none;
}